* {
    padding:0; 
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    
}

.hero {
    height: 100vh; 
    width: 100%;
    background-image: url("images/cat-background.jpg");
    background-size: cover;
    background-position: center;
}
nav {
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 6%;
    padding-right: 8%;

}
.logo {
    color: white;
    font-size: 43px;
    letter-spacing: 1.5px;
    cursor: pointer;
}
span {
    color: red;
}
.span {
    color: yellow;
}
nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
    font-size: 21px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
nav ul li a:hover {
    color: #f9004d;
    transition: .3s;

}
.btn {
    background-color: red;
    color: white;
    font-size: 22px;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 33px;
    transition: .4s;
    width: fit-content;
}
.btn:hover {
    transform: scale(1.2);
    background-color: transparent;
    border: 2px solid;
    cursor: pointer;
}
.content{
    display: flex;
    justify-content: space-between;
    flex: 1;
    gap:5px;
    margin-top: 16px;
    color: white;
}
.h1 {
    justify-content: flex-start;
    margin-top: 40px;
    margin-left: 8%;
    width: 20%;
    font-size: 55px;
}
.subcontent {
    justify-content: flex-end;
    width: 23%;
    margin-top: 55px;
    margin-right: 8%;
}
.h22{
    color: yellow;
    margin: 20px;
    width: 200%;
    font-weight: bold;
    font-size: 30px;
    margin-left: 0%;
}
.h222{
    margin: 10px;
    width: 100%;
    font-weight: lighter;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    letter-spacing: 1.5px;
}
.h2222{
    width: 100%;
    margin-top: 75px;
    color: red;
    margin-bottom: 30px;

}
.h333{
    margin: 10px;
    width: 100%;
    font-weight: lighter;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin-bottom: 40px;
    letter-spacing: 1.5px;
}
.button {
    background-color: red;
    color: white;
    font-size: 22px;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 33px;
    transition: .4s;
    width: fit-content;
}
.button:hover{
    transform: scale(1.2);
    background-color: transparent;
    border: 2px solid;
    cursor: pointer;
}
.cat1 {
    height: auto;
    width: 700px;
    border-style: solid;
    border-radius: 10px;
    border-width: 10px;
    border-color: #f9004d;
    margin: 8%;
}
.about {
    background-color: rgb(78, 4, 4);
}
.main {
    width: 100%;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about-text{
    display: flex;
    flex:1;
    height: auto;
    width: 50%;
    flex-direction: column;
    letter-spacing: 1.5px;
}
.aboutus {
    color: yellow;
    margin: 6%;
    width: 200%;
    font-weight: 800;
    font-size: 45px;
    margin-left: 0%;
}
.subabout{
    width: 100%;
    color: lightgoldenrodyellow;
    margin-bottom: 30px;
}
.cat {
    color: black;
    font-weight: bold;
}
.descabout{
    margin: 10px;
    margin-right: 25px;
    width: 100%;
    font-weight: lighter;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: white;
}
.about-text .btn {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}
.cat-service {
    height: auto;
    width: 350px;
    border-style: solid;
    border-radius: 10px;
    border-width: 10px;
    border-color: gray;
    margin:5%;
}
.service{
    background-color: black;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.title{
    font-size: 45px;
    color: whitesmoke;
    font-weight: 700;
    display: flex;
    justify-content: center;
    margin: 6%;
}
.box-one{
    display: flex;
    justify-content: space-around;
}
.box-two {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}
.pra {
    margin: 10px;
    width: 100%;
    font-weight: lighter;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 19px;
    letter-spacing: 1.5px;
    color: white;
}
.card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: auto;
}
.pra p{
    color: whitesmoke;
    margin-bottom: 50px;
}
.box h5{
    color: white;
    font-size: 30px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.team {
    background-color: rgb(78, 4, 4);
}
h1 {
    text-align: center;
    color: white;
    font-size: 45px;
}
.meet-section {
    background-color: rgb(78, 4, 4);
    display: flex;
    flex-direction: column;
}
.meet-header {
    font-size: 45px;
    color: whitesmoke;
    font-weight: 800;
    margin: 40px;
    text-align: center;
    margin: 6%;;
}
.team-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
    margin-bottom: 8%;
}
.our-team
{
    background: rgb(240, 188, 168);
    text-align: center;
    overflow: hidden;
    position: relative;
    margin: 0px 25px;
    padding: 30px 70px;

}
.our-team .pic {
    display: inline-block;
    width: 130px;
    height: 130px;
    margin-bottom: 0px;
    z-index: 1;
    position: relative;
}
.our-team .pic::before{
    content: "";
    width: 100%;
    height: 0;
    border-radius: 50%;
    background: red;
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0;
    opacity: 0.2;
    transform: scale(3);
    transition: all 0.3s linear 0s;

}
.our-team:hover .pic::before {
    height: 100%;
}
.our-team .pic::after{
    content: "";
    width: 100%;
    height: 100;
    border-radius: 50%;
    background: red;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.our-team .pic img{
    height: auto;
    width: 210px;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
}
.our-team:hover .pic img {
    box-shadow: 0 0 0 14px red;
    transform: scale(0.9);
}
.our-team .team-content {
    margin-bottom: 30px;
}
.our-team .title {
    font-size: 25px;
    font-weight: 700;
    color: rgb(78, 4, 4);
    letter-spacing: 1px;
    margin-bottom: 5px;
    margin-top: 6px;
}
.our-team .post {
    display: block;
    font-size: 19px;
    color: rgb(78, 4, 4);
    margin-top: 6px;
}
.our-team .social {
    width: 100%;
    padding: 0;
    margin: 0;
    background: red;
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;

}
.our-team:hover .social {
    bottom: 0;
}
.our-team .social li{
    display: inline-block;
}
.our-team .social li a{
    text-decoration:none;
    display: block;
    padding: 10px;
    font-size: 17px;
    color: #fff;
    transition: all 0.3s ease 0s;
}
.our-team .social li a:hover {
    color: red;
    background: #f7f5ec;
}
.t {
    font-size: 25px;
    font-weight: 600;
    font-family: cursive;
}
@media (max-width: 720px) {
    .team-container{
        flex-direction: column;
    }
    .our-team{
        width: 80%;
        margin-top: 30px;
    }
}
